 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Mes Services</h2>
                    <hr style="border-top: 10px double #FFFFFF; width: 34%">
                </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                  <p>Je vous propose mes services en tant que Designer et Développeur Web, mes principales missions vous sont présentées ci-dessous. N'hésitez pas à me contacter pour un devis gratuit ou si vous avez la moindre question !</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-2">
              </div>
              <div class="col-lg-2" style="background-color:#FAFAFA; text-align:center; height:300px">
                <hr style="border-top: 2px solid #141725; width: 70%; margin-top:20px; margin-bottom:0px">
                <div style="padding-top:0px;font: normal normal normal 20px/1.4em 'open sans',sans-serif;
	color: #141725;">
                  Charte Graphique
                </div>
                <hr style="border-top: 2px solid #141725; width: 70%; margin-top:0px; margin-bottom:0px">
                <div style="padding-top:30px;padding-bottom:30px; color:#141725">Vous avez besoin d'une <b>charte graphique</b> pour votre entreprise ou votre projet</div>
                <div style="padding-top:10px; color:#141725">Disponible en <b>3</b> à <b>5 jours</b></div>
              </div>
              <div class="col-lg-1">
              </div>
              <div class="col-lg-2" style="background-color:#000; text-align:center">
                <p>blablabla</p>
              </div>
              <div class="col-lg-1">
              </div>
              <div class="col-lg-2" style="background-color:#000; text-align:center">
                <p>blablabla</p>
              </div>
              <div class="col-lg-2">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                  <a href="https://www.linkedin.com/in/sylvain-regnier-b334b7122/" target="_blank" class="btn btn-lg btn-outline">
                      <i class="fa fa-linkedin"></i> Consultez mon CV
                  </a>
              </div>
            </div>
            </div>
    </section>
