
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr style="border-top: 10px double #141725; width: 34%">
                </div>
            </div>
            <div class="row">
                {% for post in site.posts %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                        <div style="text-align: center;
                              	font-weight: bold;
                              	word-spacing: 10px;
                              	font-size: medium;">
                                {% if post.hashtag1 %}
                                    <p>#{{ post.hashtag1 }} </p>
                                {% endif %}
                                {% if post.hashtag2 %}
                                    <p>#{{ post.hashtag2 }} </p>
                                {% endif %}
                                {% if post.hashtag3 %}
                                    <p>#{{ post.hashtag3 }} </p>
                                {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
